<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h2>Welcome {{ session.username }}</h2>
        <form method="POST">
            <input type="number" name="duration" placeholder="Scrape duration in minutes" required>
            <!-- <input type="number" name="num_questions" placeholder="Number of questions" min="1" max="10" required> -->
            <button type="submit">Extract</button>
        </form>
        <h3>Articles:</h3>
        <ul>
            {% for article in articles %}
                <li>
                    <strong>{{ article[2] }}</strong> ({{ article[4] }})<br>
                    <form action="{{ url_for('generate_questions', article_id=article[0]) }}" method="POST">
                        <input type="number" name="num_questions" placeholder="Number of questions" min="1" max="10" required>
                        <label for="method">Select Method:</label>
                        <select name="method" required>
                            <option value="mcq">MCQ</option>
                            <option value="bool">Boolean</option>
                            <option value="faq">FAQ</option>
                            <option value="paraphrase">Paraphrase</option>
                            <option value="qa">Question Answering</option>
                        </select>
                        <button type="submit">Generate Quiz</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
